[Service]
WorkingDirectory=/opt/c-flo
ExecStart=/usr/bin/node ./node_modules/.bin/msgflo-register --broker mqtt://10.0.1.17 --role barstatus_bar:components/statuslight.yml --role barstatus_clab:components/statuslight.yml --role barstatus_nerdarea:components/statuslight.yml --role barstatus_switch:components/barstatus.yml --role bubbler:components/panel.yml --role c_leuse:components/playsound.yml --role c_out_generator:components/c_out.yml --role c_out_output:components/playsound.yml --role crew:components/crew.yml --role mainhall:components/dmx.yml --role mechblast:components/playsound.yml --role nerd:components/pedestrianlight.yml --role nerdctrl_switch:components/nerdctrl.yml --role powermon:components/powermon.yml --role echelon:components/echelon.yml --role time:components/time.yml --role vacuum:components/Vacuum.yml --role c-boom:components/buttonpanel.yml
Restart=always
User=bergie
Environment=PATH=/opt/c-flo/node_modules/.bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/home/bergie/.local/bin

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
