[Service]
WorkingDirectory=/opt/c-flo
ExecStart=/usr/bin/npm start
Restart=always
User=bergie
Environment=PATH=/opt/c-flo/node_modules/.bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/home/bergie/.local/bin MSGFLO_BROKER=mqtt://10.0.1.17

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
