[Service]
WorkingDirectory=/opt/c-flo
ExecStart=/usr/bin/node ./node_modules/.bin/msgflo --graph graphs/c-base.json --auto-save=true --broker mqtt://10.0.1.17 --runtime-id=a9dca883-c07f-4cd7-b369-180fa9b52b68 --ping-interval=600 --host=c-flo.cbrp3.c-base.org --wait-timeout 500 --ignore ingress-data --ignore ingress-lights --ignore barstatus_bar --ignore barstatus_clab --ignore barstatus_nerdarea --ignore barstatus_switch --ignore bubbler --ignore c_leuse --ignore c_out_generator --ignore c_out_output --ignore crew --ignore he1 --ignore mainhall --ignore mechblast --ignore nerd --ignore nerdctrl-display --ignore nerdctrl_switch --ignore powermon --ignore echelon --ignore siri --ignore time --ignore megablast
Restart=always
User=bergie
Environment=PATH=/opt/c-flo/node_modules/.bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/home/bergie/.local/bin

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
