[Service]
WorkingDirectory=/opt/c-flo
ExecStart=/usr/bin/node ./node_modules/.bin/msgflo-register --broker mqtt://10.0.1.17 --role barstatus_bar:participants/statuslight.yml --role barstatus_clab:participants/statuslight.yml --role barstatus_nerdarea:participants/statuslight.yml --role barstatus_switch:participants/barstatus.yml --role bubbler:participants/panel.yml --role c_leuse:participants/playsound.yml --role c_out_generator:participants/c_out.yml --role c_out_output:participants/playsound.yml --role crew:participants/crew.yml --role mainhall:participants/dmx.yml --role mechblast:participants/playsound.yml --role nerd:participants/pedestrianlight.yml --role nerdctrl_switch:participants/nerdctrl.yml --role powermon:participants/powermon.yml --role echelon:participants/echelon.yml --role time:participants/time.yml
Restart=always
User=bergie
Environment=PATH=/opt/c-flo/node_modules/.bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/home/bergie/.local/bin

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
