[Service]
WorkingDirectory=/opt/c-flo
ExecStart=/usr/bin/node ./node_modules/.bin/msgflo-register-foreign-multiple --broker mqtt://10.0.1.17 --forever true --roles barstatus_bar:participants/statuslight.yml --roles barstatus_clab:participants/statuslight.yml --roles barstatus_nerdarea:participants/statuslight.yml --roles barstatus_switch:participants/barstatus.yml --roles bubbler:participants/panel.yml --roles c_leuse:participants/playsound.yml --roles c_out_generator:participants/c_out.yml --roles c_out_output:participants/playsound.yml --roles crew:participants/crew.yml --roles he1:participants/showurl.yml --roles mainhall:participants/dmx.yml --roles mechblast:participants/playsound.yml --roles nerd:participants/pedestrianlight.yml --roles nerdctrl:participants/showurl.yml --roles nerdctrl_switch:participants/nerdctrl.yml --roles powermon:participants/powermon.yml --roles echelon:participants/echelon.yml --roles siri:participants/showurl.yml --roles time:participants/time.yml
Restart=always
User=bergie
Environment=PATH=/opt/c-flo/node_modules/.bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/home/bergie/.local/bin

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
