---
- name: Install rsync
  become: yes
  become_user: root
  apt:
    name: rsync
    # update_cache: yes
    state: latest
    update_cache: no
  
- name: Load secrets
  include_vars: "secrets.yml"
  no_log: true
  
- name: Create ssh directory for user
  file: path=/home/sascha/.ssh state=directory owner=sascha
  
- name: Copy private backup ssh key
  copy:
    dest="{{ item.key }}"
    content="{{ item.value.content }}"
    owner="{{ item.value.owner }}"
    group="{{ item.value.group }}"
    mode="{{ item.value.mode }}"
  with_dict: "{{ deploy_key_files }}"
  no_log: true
  become: yes

- name: Create backup.sh script.
  template: src=backup.sh dest=/home/sascha/backup.sh owner=sascha
  become: yes
  become_user: root
  template: src=backup.sh dest=/home/sascha/backup.sh

- name: Create timer file
  template:
    dest: "/etc/systemd/system/influx-backup.timer"
    src: "influx-backup.timer"
  register: timer_config
  become: yes
  become_user: root
  
- name: Create service file
  template:
    dest: "/etc/systemd/system/influx-backup.service"
    src: "influx-backup.service"
  register: timer_config
  become: yes

- name: Reload daemon
  shell: systemctl daemon-reload
  when: timer_config.changed
  become: yes

- name: Restart service
  service:
    name: "influx-backup.timer"
    state: restarted
  when: timer_config.changed
  become: yes

- name: Enable service
  service:
    name: "influx-backup.timer"
    state: started
    enabled: yes
  become: yes
