---
- name: station IoT logging and dashboard
  hosts: openmcts
  roles:
    - role: "arch-docker"
    - role: "docker-systemd"
      container_name: "influxdb"
      container_repository: "hypriot/rpi-influxdb"
      container_ports:
        - "127.0.0.1:8086:8086"
      container_volumes:
        - "/var/influxdb:/data"
        - "/tmp/influxdbbackup:/backup"
    - role: "docker-systemd"
      container_name: "couchdb"
      container_repository: "matthiasg/rpi-couchdb"
      container_ports:
        - "5984:5984"
      container_volumes:
        - "/var/couchdb:/opt/couchdb/data"
    - role: "docker-systemd"
      container_name: "cbeam-telemetry-server"
      container_repository: "cbase/raspberrypi3-cbeam-telemetry-server"
      container_environment:
        - "MSGFLO_BROKER=mqtt://10.0.1.17"
        - "INFLUX_HOST=127.0.0.1"
        - "OPENMCT_CONFIG=c-base.js"
        - "PORT=80"
      container_extra_options:
        - "--net host"
      container_after: "docker.service influxdb.service couchdb.service"
    - role: "influxdb-docker-backup"